{% comment %} Primary navigation menu {% endcomment %}
<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="clearfix hidden-md-up">
    {% comment %} Brand {% endcomment %}
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" rel="home">{{ site.title }}</a>

    {% comment %} Navbar toggler {% endcomment %}
    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#header-navbar-collapse">&#9776;</button>
  </div>

  <div class="collapse navbar-toggleable-sm" id="header-navbar-collapse">
    <div class="{{ site.container }}">
      {% comment %} Brand {% endcomment %}
      <a class="navbar-brand hidden-sm-down" href="{{ '/' | prepend: site.baseurl }}" rel="home">{{ site.title }}</a>

      {% comment %} Menu items {% endcomment %}
      <ul class="nav navbar-nav pull-right nav-primary">
        {% comment %} Assign site pages to 'links' variable {% endcomment %}
        {% assign links = site.pages | sort: 'order' %}

        {% for link in links %}
          {% comment %} Display links with the 'order' more than 9 {% endcomment %}
          {% if link.order > 9 %}
            <li class="nav-item{% if page.url == link.url %} active{% endif %}">
              <a href="{{ link.url | prepend: site.baseurl }}" class="nav-link" rel="bookmark"><span class="fa fa-{{ link.nav_icon }}"></span>&ensp;{{ link.title }}{% if page.url == link.url %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
