{% comment %} Disqus {% endcomment %}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = '{{ page.url | replace: "index.html", '' | prepend: site.baseurl | prepend: site.url }}';
  this.page.identifier = '{{ page.id }}';
  this.page.title = '{{ page.title }}';
  this.page.category_id = '4194931';
};

(function() {
  var d = document, s = d.createElement('script');

  s.src = '//{{ site.disqus.shortname }}.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
