{% comment %} Footer {% endcomment %}
<footer class="page-footer">
  <div class="{{ site.container }}">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        {% comment %} Tertiary navigation menu {% endcomment %}
        {% include navigation/tertiary.html %}

        {% comment %} Copyright info {% endcomment %}
        <p class="copyright">Copyright &copy; All rights reserved {{ site.separator }} 2011&ndash;{{ site.time | date: '%Y' }} {{ site.separator }} <a href="{{ '/' | prepend: site.baseurl }}" rel="home">{{ site.title }}</a></p>
      </div>
    </div>
  </div>
</footer>

{% comment %} Page bottom JavaScripts {% endcomment %}
{% include js-bottom.html %}

{% comment %} Yandex.Metrika {% endcomment %}
{% if jekyll.environment == 'production' or site.environment == 'production' %}
  {% include yandex-metrika.html %}
{% endif %}
