{% comment %} Skip link {% endcomment %}
<a class="sr-only sr-only-focusable" href="#page-content">
  <div class="{{ site.container }}">
    <span>Skip to main content</span>
  </div>
</a>

{% comment %} Header {% endcomment %}
<header class="page-header" role="banner">
  {% comment %} Primary navigation menu {% endcomment %}
  {% include navigation/primary.html %}
</header>
