{% comment %} Page bottom JavaScripts {% endcomment %}

{% comment %} Discus counter {% endcomment %}
{% if page.disqus_count == true %}
  <script id="dsq-count-scr" src="//{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
{% endif %}

{% comment %} jQuery {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" crossorigin="anonymous"></script>

{% comment %} Bootstrap {% endcomment %}
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

{% comment %} Site JavaScript {% endcomment %}
<script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>
