{% comment %} Resource hints {% endcomment %}

{% comment %} Preconnect {% endcomment %}
<link rel="preconnect" href="{{ site.url }}">
<link rel="preconnect" href="//ajax.cloudflare.com" crossorigin>
<link rel="preconnect" href="//cdn.rawgit.com" crossorigin>
<link rel="preconnect" href="//maxcdn.bootstrapcdn.com" crossorigin>
<link rel="preconnect" href="//ajax.googleapis.com" crossorigin>
<link rel="preconnect" href="//www.google-analytics.com" crossorigin>
<link rel="preconnect" href="//mc.yandex.ru" crossorigin>
<link rel="preconnect" href="//disqus.com" crossorigin>
<link rel="preconnect" href="//{{ site.disqus.shortname }}.disqus.com" crossorigin>
