// Header
.page-header {
  margin-bottom: 2rem;
}

@media (max-width: 48rem) {
  .nav-primary {
    float: left !important;
  }

  .navbar-nav {
    .nav-item {
      float: none;

      & + .nav-item {
        margin-left: 0;
      }
    }
  }
}
