---
layout: default
title: Blog
order: 70
nav_icon: file-text
disqus_count: true
---

{% if paginator.total_posts > 0 %}
  {% comment %} The loop {% endcomment %}
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

    <div class="entry-meta">
      <span class="label label-pill label-info">
        <span class="fa fa-comment"></span>
        <span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"></span>
      </span>
    </div>

    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>

    <div class="content">
      {{ post.excerpt }}
    </div>
  {% endfor %}

  {% comment %} Pagination links {% endcomment %}
  {% if paginator.total_posts > paginator.per_page %}
    <nav>
      <ul class="pager">
        {% comment %} Previous page {% endcomment %}
        {% if paginator.previous_page %}
          <li class="pager-prev"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" rel="bookmark">Previous</a></li>
        {% else %}
          <li class="pager-prev disabled"><a href="javascript:void(0);">Previous</a></li>
        {% endif %}

        {% comment %} Page number {% endcomment %}
        <li class="pager-of">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>

        {% comment %} Next page {% endcomment %}
        {% if paginator.next_page %}
          <li class="pager-next"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" rel="bookmark">Next</a></li>
        {% else %}
          <li class="pager-next disabled"><a href="javascript:void(0);">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% else %}
  <h1>Nothing found</h1>

  <p>It seems we can't find any posts.</p>
{% endif %}
