---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}">
  {% comment %} Head {% endcomment %}
  {% include head.html %}

  <body>
    {% comment %} Header {% endcomment %}
    {% include header.html %}

    {% comment %} Content {% endcomment %}
    <div class="page-body">
      <div class="{{ site.container }}">
        <div class="row">
          {% comment %} Content {% endcomment %}
          <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 page-content" id="page-content">
            {{ content }}
          </section>

          {% comment %} Sidebar {% endcomment %}
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% comment %} Footer {% endcomment %}
    {% include footer.html %}
  </body>
</html>
